:root {
  --primary: #326355;
  --secondary: #7dd1b9;
  --herobg: #d6fff38d;
}
@font-face {
  font-family: cantobold;
  src: url(./Canto-Roman/Canto-Roman.woff);
  font-weight: bold;
}
@font-face {
  font-family: canto;
  src: url(./Canto-Roman/Canto-Roman.woff);
}
body {
  background-color: #f9fcfc;
  font-family: 'Inter', sans-serif;
  position: relative;
  background-image: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}

main {
  text-align: center;
  overflow: hidden;
}
#logo {
  width: 150px;
}
.top-hero {
  margin-top: 15rem;
  margin-bottom: 7rem;
}
.top-hero p {
  margin-top: 1.5rem;
  font-weight: 600;
  line-height: 0.7;
}

#we-invest {
  font-size: 28px;
  font-weight: 700;
  padding: 1rem;
  margin: 0px;
}
#hero-text p {
  line-height: 1;
  font-size: 1em;
  padding: 0px;
  margin: 6px;
  font-weight: 500;
  letter-spacing: -1px;
}
.top-hero2 {
  margin-top: 5rem;
  font-size: 14px;
}
.top-hero2 p {
  line-height: 1.8;
  font-weight: 600;
  padding: 1rem;
  color: var(--primary);
}
.btn {
  padding: 10px;
  color: white;
  background-color: var(--primary);
  border-radius: 30px;
  width: 170px;
  font-size: 12px;
  font-weight: 600;
}
.btn-joinus:hover {
  background-color: var(--secondary);
}
.btn-joinus {
  margin: 0.3rem;
  cursor: pointer !important;
}
.btn-joinus a {
  color: inherit;
  text-decoration: none;
}
.about-us {
  margin-top: 10rem;
  margin-left: 22px;
  margin-right: 22px;
  line-height: 1.5;
}
.about-us p {
  line-height: 2;
}
.icon-color {
  color: var(--secondary);
}
.service-title {
  margin-top: 5rem;
  margin-bottom: 3srem;
  text-decoration: underline;
}
.service-title,
.service-card-title,
.investep-nft-title,
.investep-capital-card-title {
  font-family: cantobold;
  font-weight: 700;
}
.service-title,
.investep-nft-title {
  font-size: 24px;
  font-weight: bolder;
}
#servives-title {
  text-transform: uppercase;
  margin-top: 5rem;
  font-size: 18px;
  font-weight: 700;
}
.investep-capital-nft {
  background-color: var(--primary);
  color: white;
}
.investep-capital-promo {
  padding: 0px;
  margin: 0px;
  padding-bottom: 2rem;
}
.investep-capital-card,
.img-fluid {
  border-radius: 10px;
}
.investep-capital-card:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}
.animate__animated {
  visibility: hidden;
  animation-duration: 1s;
}
.nft-buy {
  font-size: 14px;
}
.animate__fadeInRight,
.animate__fadeInLeft,
.animate__bounceInDown,
.animate__bounceInLeft,
.animate__bounceInRight {
  visibility: visible;
}
.slider-container {
  background-color: var(--secondary-color);
  cursor: pointer;
}
.portfolio__img {
  width: 100px;
  max-height: 80px;
  margin-bottom: 1rem;
}
footer h5 {
  font-size: 14px;
}
footer a {
  text-decoration: none;
  color: rgb(226, 226, 226);
}
footer a:hover {
  color: rgb(255, 255, 255);
}
